In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings
warnings.filterwarnings("ignore")

import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler

from scipy.stats import boxcox

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, explained_variance_score

pd.set_option('display.max_columns', None)

import os
import requests
import pytz

from xgboost import XGBRegressor
from sklearn.metrics import r2_score

# Use APIs and automatically add missing lines to the original data

In [2]:
original_data=pd.read_csv("processed_data.csv")
original_data.head()

,timestamp,btc_open,btc_close,btc_volume,btc_number_of_trades,eth_open,eth_close,eth_volume,eth_number_of_trades,djia_open,djia_close,djia_volume,ixic_open,ixic_close,ixic_volume
0,1.502930e+12,4285.08,4108.37,1199.888264,5233,302.00,293.96,9537.84646,5658,21984.74023,21750.73047,311030000.0,6322.720210,6221.910160,2.041220e+09
1,1.503010e+12,4108.37,4139.98,381.309763,2153,293.31,290.91,2146.19773,1795,21724.88086,21674.50977,309070000.0,6222.459960,6216.529790,1.964590e+09
2,1.503100e+12,4120.98,4086.29,467.083022,2321,289.41,299.10,2510.13871,2038,21707.04037,21684.25651,298673333.3,6220.413247,6215.396487,1.835083e+09
3,1.503190e+12,4069.13,4016.00,691.743060,3972,299.10,323.29,5219.44542,3925,21689.19987,21694.00326,288276666.7,6218.366533,6214.263183,1.705577e+09
4,1.503270e+12,4016.00,4040.00,966.684858,6494,321.04,309.80,7956.35088,6577,21671.35938,21703.75000,277880000.0,6216.319820,6213.129880,1.576070e+09

In [3]:
last_date_dt = pd.to_datetime(original_data['timestamp'].max(), unit='ms') - pd.Timedelta(days=4)
last_date = last_date_dt.strftime('%Y/%m/%d')
day = last_date_dt.day
month = last_date_dt.month
year = last_date_dt.year

In [4]:
"""IMPORT APIs and Cleaning them"""

## Define API key and base URL
apikey = "df09c92f24574a5f9cd8d361f0b58424"
base_url = "https://api.twelvedata.com"

# Define start and end dates
start_date = last_date
end_date = datetime.date.today().strftime("%Y-%m-%d")

## Get NASDAQ data
symbol_nasdaq = "IXIC"
interval_nasdaq = "1day"
url_nasdaq = f"{base_url}/time_series?symbol={symbol_nasdaq}&interval={interval_nasdaq}&start_date={start_date}&end_date={end_date}&apikey={apikey}"
response_nasdaq = requests.get(url_nasdaq)
data_nasdaq = response_nasdaq.json()
df_nasdaq = pd.DataFrame.from_dict(data_nasdaq['values'])
df_nasdaq['datetime'] = pd.to_datetime(df_nasdaq['datetime'], format='%Y-%m-%d %H:%M:%S').dt.tz_localize('US/Eastern')
df_nasdaq.set_index('datetime', inplace=True)

## Get DJIA data
symbol_djia = "DJI"
interval_djia = "1day"
url_djia = f"{base_url}/time_series?symbol={symbol_djia}&interval={interval_djia}&start_date={start_date}&end_date={end_date}&apikey={apikey}"
response_djia = requests.get(url_djia)
data_djia = response_djia.json()
df_djia = pd.DataFrame.from_dict(data_djia['values'])
df_djia['datetime'] = pd.to_datetime(df_djia['datetime'], format='%Y-%m-%d %H:%M:%S').dt.tz_localize('US/Eastern')
df_djia.set_index('datetime', inplace=True)

df_nasdaq = df_nasdaq.reset_index().rename(columns={'datetime': 'DateTime'})
df_djia = df_djia.reset_index().rename(columns={'datetime': 'DateTime'})

## Define API endpoint and parameters
base_url = "https://api.binance.com/api/v3/klines"
symbol_eth = "ETHUSDT"
symbol_btc = "BTCUSDT"
interval = "1d"

start_date = datetime.datetime(year, month, day)
end_date = start_date + datetime.timedelta(days=500)

## Convert dates to timestamps
t1 = int(start_date.timestamp() * 1000)
t2 = int(end_date.timestamp() * 1000)

## Get ETH data
url_eth = f"{base_url}?symbol={symbol_eth}&interval={interval}&startTime={t1}&endTime={t2}"
response_eth = requests.get(url_eth)
data_eth = response_eth.json()
df_eth = pd.DataFrame(data_eth, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_asset_volume', 'number_of_trades', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'ignore'])
df_eth['timestamp'] = pd.to_datetime(df_eth['timestamp'], unit='ms').dt.tz_localize('UTC').dt.tz_convert('US/Eastern')
df_eth.set_index('timestamp', inplace=True)

## Get BTC data
url_btc = f"{base_url}?symbol={symbol_btc}&interval={interval}&startTime={t1}&endTime={t2}"
response_btc = requests.get(url_btc)
data_btc = response_btc.json()
df_btc = pd.DataFrame(data_btc, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_asset_volume', 'number_of_trades', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'ignore'])
df_btc['timestamp'] = pd.to_datetime(df_btc['timestamp'], unit='ms').dt.tz_localize('UTC').dt.tz_convert('US/Eastern')
df_btc.set_index('timestamp', inplace=True)

## Rename timestamp column
df_btc = df_btc.reset_index().rename(columns={'timestamp': 'DateTime'})
df_eth = df_eth.reset_index().rename(columns={'timestamp': 'DateTime'})

## Adding Timestamp format and fixing datetime format
df_btc['DateTime'] = pd.to_datetime(df_btc['DateTime']).dt.date.astype(str)
df_btc['timestamp'] = (pd.to_datetime(df_btc['DateTime'], utc=True).astype(int) / 10**6).astype(float)
df_eth['DateTime'] = pd.to_datetime(df_eth['DateTime']).dt.date.astype(str)
df_eth['timestamp'] = (pd.to_datetime(df_eth['DateTime'], utc=True).astype(int) / 10**6).astype(float)
df_nasdaq['DateTime'] = pd.to_datetime(df_nasdaq['DateTime']).dt.date.astype(str)
df_nasdaq['timestamp'] = (pd.to_datetime(df_nasdaq['DateTime'], utc=True).astype(int) / 10**6).astype(float)
df_djia['DateTime'] = pd.to_datetime(df_djia['DateTime']).dt.date.astype(str)
df_djia['timestamp'] = (pd.to_datetime(df_djia['DateTime'], utc=True).astype(int) / 10**6).astype(float)

## adding a prefix to identify columns easier
new_cols = {}
for col in df_nasdaq.columns:
    if col not in ["DateTime", "timestamp"]:
        new_cols[col] = "ixic_" + col
    else:
        new_cols[col] = col
df_nasdaq = df_nasdaq.rename(columns=new_cols)


new_cols = {}
for col in df_djia.columns:
    if col not in ["DateTime", "timestamp"]:
        new_cols[col] = "djia_" + col
    else:
        new_cols[col] = col
df_djia = df_djia.rename(columns=new_cols)

new_cols = {}
for col in df_btc.columns:
    if col not in ["DateTime", "timestamp"]:
        new_cols[col] = "btc_" + col
    else:
        new_cols[col] = col
df_btc = df_btc.rename(columns=new_cols)

new_cols = {}
for col in df_eth.columns:
    if col not in ["DateTime", "timestamp"]:
        new_cols[col] = "eth_" + col
    else:
        new_cols[col] = col
df_eth = df_eth.rename(columns=new_cols)

dfs = [df_btc, df_eth, df_djia, df_nasdaq]
updated_data = dfs[0]
for df in dfs[1:]:
    updated_data = pd.merge(updated_data, df, on=["timestamp", "DateTime"], how="left")
    
    
# Convert numeric columns to numeric data types
numeric_cols = ['btc_open', 'btc_high', 'btc_low', 'btc_close', 'btc_volume', 'btc_quote_asset_volume', 'btc_taker_buy_base_asset_volume', 'btc_taker_buy_quote_asset_volume', 'eth_open', 'eth_high', 'eth_low', 'eth_close', 'eth_volume', 'eth_quote_asset_volume', 'eth_taker_buy_base_asset_volume', 'eth_taker_buy_quote_asset_volume', 'djia_open', 'djia_high', 'djia_low', 'djia_close', 'djia_volume', 'ixic_open', 'ixic_high', 'ixic_low', 'ixic_close', 'ixic_volume']
updated_data[numeric_cols] = updated_data[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Convert DateTime column to datetime data type
updated_data['DateTime'] = pd.to_datetime(updated_data['DateTime'], format='%Y-%m-%d')

updated_data['DateTime'] = pd.to_datetime(updated_data['DateTime'])
updated_data = updated_data.set_index('DateTime')

# Fill missing values using non-weekend days only
updated_data = updated_data.interpolate(method='time', limit_direction='both', limit=None)

updated_data=updated_data[["timestamp","btc_open","btc_close","btc_volume","btc_number_of_trades","eth_open","eth_close","eth_volume","eth_number_of_trades","djia_open","djia_close","djia_volume","ixic_open","ixic_close","ixic_volume"]]                           
updated_data=updated_data.reset_index(drop=True)

In [5]:
ready_data = pd.concat([original_data, updated_data]).drop_duplicates(subset=['timestamp']).reset_index(drop=True)

In [6]:
ready_data.tail(10)
ready_data.to_csv("processed_data.csv", index=False)

# Train Model Again

In [7]:
ready_data["btc_close_shifted"]=ready_data["btc_close"].shift(-1)
ready_data=ready_data.dropna()
ready_data

,timestamp,btc_open,btc_close,btc_volume,btc_number_of_trades,eth_open,eth_close,eth_volume,eth_number_of_trades,djia_open,djia_close,djia_volume,ixic_open,ixic_close,ixic_volume,btc_close_shifted
0,1.502930e+12,4285.08,4108.37,1199.888264,5233,302.00,293.96,9537.84646,5658,21984.740230,21750.73047,3.110300e+08,6322.720210,6221.910160,2.041220e+09,4139.98
1,1.503010e+12,4108.37,4139.98,381.309763,2153,293.31,290.91,2146.19773,1795,21724.880860,21674.50977,3.090700e+08,6222.459960,6216.529790,1.964590e+09,4086.29
2,1.503100e+12,4120.98,4086.29,467.083022,2321,289.41,299.10,2510.13871,2038,21707.040370,21684.25651,2.986733e+08,6220.413247,6215.396487,1.835083e+09,4016.00
3,1.503190e+12,4069.13,4016.00,691.743060,3972,299.10,323.29,5219.44542,3925,21689.199870,21694.00326,2.882767e+08,6218.366533,6214.263183,1.705577e+09,4040.00
4,1.503270e+12,4016.00,4040.00,966.684858,6494,321.04,309.80,7956.35088,6577,21671.359380,21703.75000,2.778800e+08,6216.319820,6213.129880,1.576070e+09,4114.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2086,1.682726e+12,29230.45,29233.21,39752.537200,949458,1907.79,1870.09,355336.48880,552933,33903.889323,34082.67318,3.176033e+08,12148.376627,12221.919923,5.277063e+09,28068.26
2087,1.682813e+12,29233.20,28068.26,64433.659580,1362793,1870.08,1830.73,445519.17790,647788,34010.348957,34067.18620,2.808967e+08,12179.213213,12217.259767,5.222747e+09,28669.86
2088,1.682899e+12,28068.26,28669.86,50824.522400,1174697,1830.73,1870.08,373753.20270,563768,34116.808590,34051.69922,2.441900e+08,12210.049800,12212.599610,5.168430e+09,29026.16
2089,1.682986e+12,28669.85,29026.16,64615.792130,1502909,1870.09,1905.12,465185.25010,751579,34017.621090,33684.53125,2.744600e+08,12198.019530,12080.509770,5.501410e+09,28838.16
2090,1.683072e+12,29026.16,28838.16,42575.475010,961542,1905.12,1877.07,354528.61440,525802,33726.640620,33414.23828,2.869000e+08,12097.040040,12025.330080,5.782160e+09,29550.78

In [8]:
X = ready_data.drop('btc_close_shifted', axis=1)
y = ready_data['btc_close_shifted']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, explained_variance_score

# create a XGBoost Regression object
model = XGBRegressor(n_estimators=100, learning_rate=0.1, random_state=42)

# fit the model on the training data
model.fit(X_train, y_train)

# predict on the test data
y_pred_xgb = model.predict(X_test)

# evaluate the model using various metrics
r2_xgb = r2_score(y_test, y_pred_xgb)
mae_xgb = mean_absolute_error(y_test, y_pred_xgb)
rmse_xgb = mean_squared_error(y_test, y_pred_xgb, squared=False)
ev_xgb = explained_variance_score(y_test, y_pred_xgb)

# print the results
print("XGBoost Regression r2:", r2_xgb)
print("XGBoost Regression MAE:", mae_xgb)
print("XGBoost Regression RMSE:", rmse_xgb)
print("XGBoost Regression EV:", ev_xgb)

XGBoost Regression r2: 0.99548474667842
XGBoost Regression MAE: 580.343768156138
XGBoost Regression RMSE: 1075.4416480022478
XGBoost Regression EV: 0.9954947842092008

# Update Data to Run New Model

In [10]:
original_data=pd.read_csv("processed_data.csv")
original_data

,timestamp,btc_open,btc_close,btc_volume,btc_number_of_trades,eth_open,eth_close,eth_volume,eth_number_of_trades,djia_open,djia_close,djia_volume,ixic_open,ixic_close,ixic_volume
0,1.502930e+12,4285.08,4108.37,1199.888264,5233,302.00,293.96,9537.84646,5658,21984.740230,21750.73047,3.110300e+08,6322.720210,6221.910160,2.041220e+09
1,1.503010e+12,4108.37,4139.98,381.309763,2153,293.31,290.91,2146.19773,1795,21724.880860,21674.50977,3.090700e+08,6222.459960,6216.529790,1.964590e+09
2,1.503100e+12,4120.98,4086.29,467.083022,2321,289.41,299.10,2510.13871,2038,21707.040370,21684.25651,2.986733e+08,6220.413247,6215.396487,1.835083e+09
3,1.503190e+12,4069.13,4016.00,691.743060,3972,299.10,323.29,5219.44542,3925,21689.199870,21694.00326,2.882767e+08,6218.366533,6214.263183,1.705577e+09
4,1.503270e+12,4016.00,4040.00,966.684858,6494,321.04,309.80,7956.35088,6577,21671.359380,21703.75000,2.778800e+08,6216.319820,6213.129880,1.576070e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2087,1.682813e+12,29233.20,28068.26,64433.659580,1362793,1870.08,1830.73,445519.17790,647788,34010.348957,34067.18620,2.808967e+08,12179.213213,12217.259767,5.222747e+09
2088,1.682899e+12,28068.26,28669.86,50824.522400,1174697,1830.73,1870.08,373753.20270,563768,34116.808590,34051.69922,2.441900e+08,12210.049800,12212.599610,5.168430e+09
2089,1.682986e+12,28669.85,29026.16,64615.792130,1502909,1870.09,1905.12,465185.25010,751579,34017.621090,33684.53125,2.744600e+08,12198.019530,12080.509770,5.501410e+09
2090,1.683072e+12,29026.16,28838.16,42575.475010,961542,1905.12,1877.07,354528.61440,525802,33726.640620,33414.23828,2.869000e+08,12097.040040,12025.330080,5.782160e+09
2091,1.683158e+12,28838.16,29550.78,45656.628480,958466,1877.07,1991.89,411342.04800,592213,33347.781250,33127.73828,3.051600e+08,11997.339840,11966.400390,4.745780e+09

In [11]:
last_date_dt = pd.to_datetime(original_data['timestamp'].max(), unit='ms') - pd.Timedelta(days=4)
last_date = last_date_dt.strftime('%Y/%m/%d')
day = last_date_dt.day
month = last_date_dt.month
year = last_date_dt.year

In [12]:
"""IMPORT APIs and Cleaning them"""

## Define API key and base URL
apikey = "df09c92f24574a5f9cd8d361f0b58424"
base_url = "https://api.twelvedata.com"

# Define start and end dates
start_date = last_date
end_date = datetime.date.today().strftime("%Y-%m-%d")

## Get NASDAQ data
symbol_nasdaq = "IXIC"
interval_nasdaq = "1day"
url_nasdaq = f"{base_url}/time_series?symbol={symbol_nasdaq}&interval={interval_nasdaq}&start_date={start_date}&end_date={end_date}&apikey={apikey}"
response_nasdaq = requests.get(url_nasdaq)
data_nasdaq = response_nasdaq.json()
df_nasdaq = pd.DataFrame.from_dict(data_nasdaq['values'])
df_nasdaq['datetime'] = pd.to_datetime(df_nasdaq['datetime'], format='%Y-%m-%d %H:%M:%S').dt.tz_localize('US/Eastern')
df_nasdaq.set_index('datetime', inplace=True)

## Get DJIA data
symbol_djia = "DJI"
interval_djia = "1day"
url_djia = f"{base_url}/time_series?symbol={symbol_djia}&interval={interval_djia}&start_date={start_date}&end_date={end_date}&apikey={apikey}"
response_djia = requests.get(url_djia)
data_djia = response_djia.json()
df_djia = pd.DataFrame.from_dict(data_djia['values'])
df_djia['datetime'] = pd.to_datetime(df_djia['datetime'], format='%Y-%m-%d %H:%M:%S').dt.tz_localize('US/Eastern')
df_djia.set_index('datetime', inplace=True)

df_nasdaq = df_nasdaq.reset_index().rename(columns={'datetime': 'DateTime'})
df_djia = df_djia.reset_index().rename(columns={'datetime': 'DateTime'})

## Define API endpoint and parameters
base_url = "https://api.binance.com/api/v3/klines"
symbol_eth = "ETHUSDT"
symbol_btc = "BTCUSDT"
interval = "1d"

start_date = datetime.datetime(year, month, day)
end_date = start_date + datetime.timedelta(days=500)

## Convert dates to timestamps
t1 = int(start_date.timestamp() * 1000)
t2 = int(end_date.timestamp() * 1000)

## Get ETH data
url_eth = f"{base_url}?symbol={symbol_eth}&interval={interval}&startTime={t1}&endTime={t2}"
response_eth = requests.get(url_eth)
data_eth = response_eth.json()
df_eth = pd.DataFrame(data_eth, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_asset_volume', 'number_of_trades', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'ignore'])
df_eth['timestamp'] = pd.to_datetime(df_eth['timestamp'], unit='ms').dt.tz_localize('UTC').dt.tz_convert('US/Eastern')
df_eth.set_index('timestamp', inplace=True)

## Get BTC data
url_btc = f"{base_url}?symbol={symbol_btc}&interval={interval}&startTime={t1}&endTime={t2}"
response_btc = requests.get(url_btc)
data_btc = response_btc.json()
df_btc = pd.DataFrame(data_btc, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_asset_volume', 'number_of_trades', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'ignore'])
df_btc['timestamp'] = pd.to_datetime(df_btc['timestamp'], unit='ms').dt.tz_localize('UTC').dt.tz_convert('US/Eastern')
df_btc.set_index('timestamp', inplace=True)

## Rename timestamp column
df_btc = df_btc.reset_index().rename(columns={'timestamp': 'DateTime'})
df_eth = df_eth.reset_index().rename(columns={'timestamp': 'DateTime'})

## Adding Timestamp format and fixing datetime format
df_btc['DateTime'] = pd.to_datetime(df_btc['DateTime']).dt.date.astype(str)
df_btc['timestamp'] = (pd.to_datetime(df_btc['DateTime'], utc=True).astype(int) / 10**6).astype(float)
df_eth['DateTime'] = pd.to_datetime(df_eth['DateTime']).dt.date.astype(str)
df_eth['timestamp'] = (pd.to_datetime(df_eth['DateTime'], utc=True).astype(int) / 10**6).astype(float)
df_nasdaq['DateTime'] = pd.to_datetime(df_nasdaq['DateTime']).dt.date.astype(str)
df_nasdaq['timestamp'] = (pd.to_datetime(df_nasdaq['DateTime'], utc=True).astype(int) / 10**6).astype(float)
df_djia['DateTime'] = pd.to_datetime(df_djia['DateTime']).dt.date.astype(str)
df_djia['timestamp'] = (pd.to_datetime(df_djia['DateTime'], utc=True).astype(int) / 10**6).astype(float)

## adding a prefix to identify columns easier
new_cols = {}
for col in df_nasdaq.columns:
    if col not in ["DateTime", "timestamp"]:
        new_cols[col] = "ixic_" + col
    else:
        new_cols[col] = col
df_nasdaq = df_nasdaq.rename(columns=new_cols)


new_cols = {}
for col in df_djia.columns:
    if col not in ["DateTime", "timestamp"]:
        new_cols[col] = "djia_" + col
    else:
        new_cols[col] = col
df_djia = df_djia.rename(columns=new_cols)

new_cols = {}
for col in df_btc.columns:
    if col not in ["DateTime", "timestamp"]:
        new_cols[col] = "btc_" + col
    else:
        new_cols[col] = col
df_btc = df_btc.rename(columns=new_cols)

new_cols = {}
for col in df_eth.columns:
    if col not in ["DateTime", "timestamp"]:
        new_cols[col] = "eth_" + col
    else:
        new_cols[col] = col
df_eth = df_eth.rename(columns=new_cols)

dfs = [df_btc, df_eth, df_djia, df_nasdaq]
updated_data = dfs[0]
for df in dfs[1:]:
    updated_data = pd.merge(updated_data, df, on=["timestamp", "DateTime"], how="left")
    
    
# Convert numeric columns to numeric data types
numeric_cols = ['btc_open', 'btc_high', 'btc_low', 'btc_close', 'btc_volume', 'btc_quote_asset_volume', 'btc_taker_buy_base_asset_volume', 'btc_taker_buy_quote_asset_volume', 'eth_open', 'eth_high', 'eth_low', 'eth_close', 'eth_volume', 'eth_quote_asset_volume', 'eth_taker_buy_base_asset_volume', 'eth_taker_buy_quote_asset_volume', 'djia_open', 'djia_high', 'djia_low', 'djia_close', 'djia_volume', 'ixic_open', 'ixic_high', 'ixic_low', 'ixic_close', 'ixic_volume']
updated_data[numeric_cols] = updated_data[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Convert DateTime column to datetime data type
updated_data['DateTime'] = pd.to_datetime(updated_data['DateTime'], format='%Y-%m-%d')

updated_data['DateTime'] = pd.to_datetime(updated_data['DateTime'])
updated_data = updated_data.set_index('DateTime')

# Fill missing values using non-weekend days only
updated_data = updated_data.interpolate(method='time', limit_direction='both', limit=None)

updated_data=updated_data[["timestamp","btc_open","btc_close","btc_volume","btc_number_of_trades","eth_open","eth_close","eth_volume","eth_number_of_trades","djia_open","djia_close","djia_volume","ixic_open","ixic_close","ixic_volume"]]                           
updated_data=updated_data.reset_index(drop=True)

In [13]:
ready_data = pd.concat([original_data, updated_data]).drop_duplicates(subset=['timestamp']).reset_index(drop=True)

In [14]:
ready_data.tail(10)

,timestamp,btc_open,btc_close,btc_volume,btc_number_of_trades,eth_open,eth_close,eth_volume,eth_number_of_trades,djia_open,djia_close,djia_volume,ixic_open,ixic_close,ixic_volume
2082,1.682810e+12,29233.20,28068.26,64433.65958,1362793,1870.08,1830.73,445519.1779,647788,34010.348960,34067.18620,2.808967e+08,12179.213210,12217.259770,5.222747e+09
2083,1.682900e+12,28068.26,28669.86,50824.52240,1174697,1830.73,1870.08,373753.2027,563768,34116.808590,34051.69922,2.441900e+08,12210.049800,12212.599610,5.168430e+09
2084,1.682990e+12,28669.85,29026.16,64615.79213,1502909,1870.09,1905.12,465185.2501,751579,34017.621090,33684.53125,2.744600e+08,12198.019530,12080.509770,5.501410e+09
2085,1.683070e+12,29026.16,28838.16,42575.47501,961542,1905.12,1877.07,354528.6144,525802,33726.640620,33414.23828,2.869000e+08,12097.040040,12025.330080,5.782160e+09
2086,1.682726e+12,29230.45,29233.21,39752.53720,949458,1907.79,1870.09,355336.4888,552933,33903.889323,34082.67318,3.176033e+08,12148.376627,12221.919923,5.277063e+09
2087,1.682813e+12,29233.20,28068.26,64433.65958,1362793,1870.08,1830.73,445519.1779,647788,34010.348957,34067.18620,2.808967e+08,12179.213213,12217.259767,5.222747e+09
2088,1.682899e+12,28068.26,28669.86,50824.52240,1174697,1830.73,1870.08,373753.2027,563768,34116.808590,34051.69922,2.441900e+08,12210.049800,12212.599610,5.168430e+09
2089,1.682986e+12,28669.85,29026.16,64615.79213,1502909,1870.09,1905.12,465185.2501,751579,34017.621090,33684.53125,2.744600e+08,12198.019530,12080.509770,5.501410e+09
2090,1.683072e+12,29026.16,28838.16,42575.47501,961542,1905.12,1877.07,354528.6144,525802,33726.640620,33414.23828,2.869000e+08,12097.040040,12025.330080,5.782160e+09
2091,1.683158e+12,28838.16,29550.78,45656.62848,958466,1877.07,1991.89,411342.0480,592213,33347.781250,33127.73828,3.051600e+08,11997.339840,11966.400390,4.745780e+09

# Apply the Model

In [15]:
y_pred = model.predict(ready_data)

In [16]:
predictions = pd.DataFrame(y_pred, columns=["predicted_value"])

In [17]:
analysis = pd.concat([ready_data[["timestamp", "btc_close"]], predictions], axis=1)
#analysis["date"]=pd.to_datetime(analysis["timestamp"],unit="ms").dt.strftime('%d/%m/%Y')
analysis["date"] = pd.to_datetime(analysis["timestamp"], unit="ms")+ pd.Timedelta(hours=24)
analysis["date"] = analysis["date"].dt.strftime('%d/%m/%Y')
analysis= analysis.drop("timestamp",axis=1)
analysis["btc_close_shifted"]=analysis["btc_close"].shift(-1)

In [18]:
analysis=analysis[["date","btc_close","btc_close_shifted","predicted_value"]]
analysis

            date  btc_close  btc_close_shifted  predicted_value
0     18/08/2017    4108.37            4139.98      4248.100098
1     18/08/2017    4139.98            4086.29      4185.373535
2     19/08/2017    4086.29            4016.00      4052.672607
3     21/08/2017    4016.00            4040.00      4091.111572
4     21/08/2017    4040.00            4114.01      4096.761719
...          ...        ...                ...              ...
2087  01/05/2023   28068.26           28669.86     28183.595703
2088  02/05/2023   28669.86           29026.16     29007.896484
2089  03/05/2023   29026.16           28838.16     28951.597656
2090  04/05/2023   28838.16           29550.78     29280.095703
2091  05/05/2023   29550.78                NaN     29693.318359

[2092 rows x 4 columns]

In [19]:
analysis.to_excel('raw_data.xlsx', index=False)

# Additional: Check Metrics Based on Variations, not Actual Values

In [20]:
metrics=analysis
metrics["real_dif"]=(metrics["btc_close_shifted"]/metrics["btc_close"])-1
metrics["predicted_dif"]=(metrics["predicted_value"]/metrics["btc_close"])-1
metrics=metrics.dropna()
metrics.head()

,date,btc_close,btc_close_shifted,predicted_value,real_dif,predicted_dif
0,18/08/2017,4108.37,4139.98,4248.100098,0.007694,0.034011
1,18/08/2017,4139.98,4086.29,4185.373535,-0.012969,0.010965
2,19/08/2017,4086.29,4016.00,4052.672607,-0.017201,-0.008227
3,21/08/2017,4016.00,4040.00,4091.111572,0.005976,0.018703
4,21/08/2017,4040.00,4114.01,4096.761719,0.018319,0.014050

In [21]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, explained_variance_score
r2 = r2_score(metrics["real_dif"], metrics["predicted_dif"])
mae = mean_absolute_error(metrics["real_dif"], metrics["predicted_dif"])
rmse = mean_squared_error(metrics["real_dif"], metrics["predicted_dif"], squared=False)
ev = explained_variance_score(metrics["real_dif"], metrics["predicted_dif"])

print("R2 score:", r2)
print("MAE:", mae)
print("RMSE:", rmse)
print("Explained variance score:", ev)

R2 score: 0.5601424604500369
MAE: 0.017852394244500747
RMSE: 0.026597113486378048
Explained variance score: 0.5601599849483904

In [22]:
upper_limit = .02
lower_limit = -.015

In [23]:
metrics["real_inv"] = metrics["real_dif"].apply(lambda x: 1 if x > upper_limit else (-1 if x < lower_limit else 0))
metrics["pred_inv"] = metrics["predicted_dif"].apply(lambda x: 1 if x > upper_limit else (-1 if x < lower_limit else 0))

In [24]:
metrics

,date,btc_close,btc_close_shifted,predicted_value,real_dif,predicted_dif,real_inv,pred_inv
0,18/08/2017,4108.37,4139.98,4248.100098,0.007694,0.034011,0,1
1,18/08/2017,4139.98,4086.29,4185.373535,-0.012969,0.010965,0,0
2,19/08/2017,4086.29,4016.00,4052.672607,-0.017201,-0.008227,-1,0
3,21/08/2017,4016.00,4040.00,4091.111572,0.005976,0.018703,0,0
4,21/08/2017,4040.00,4114.01,4096.761719,0.018319,0.014050,0,0
...,...,...,...,...,...,...,...,...
2086,30/04/2023,29233.21,28068.26,28809.839844,-0.039850,-0.014483,-1,0
2087,01/05/2023,28068.26,28669.86,28183.595703,0.021433,0.004109,1,0
2088,02/05/2023,28669.86,29026.16,29007.896484,0.012428,0.011791,0,0
2089,03/05/2023,29026.16,28838.16,28951.597656,-0.006477,-0.002569,0,0
2090,04/05/2023,28838.16,29550.78,29280.095703,0.024711,0.015325,1,0

In [25]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, explained_variance_score
r2 = r2_score(metrics["real_inv"], metrics["pred_inv"])
mae = mean_absolute_error(metrics["real_inv"], metrics["pred_inv"])
rmse = mean_squared_error(metrics["real_inv"], metrics["pred_inv"], squared=False)
ev = explained_variance_score(metrics["real_inv"], metrics["pred_inv"])

print("R2 score:", r2)
print("MAE:", mae)
print("RMSE:", rmse)
print("Explained variance score:", ev)

R2 score: 0.25615104004967393
MAE: 0.3328550932568149
RMSE: 0.606831820951388
Explained variance score: 0.25740028237311674

In [26]:
metrics.to_excel('metrics.xlsx', index=False)

# Append Instruction to Model

In [27]:
instruction = analysis[['date', 'btc_close', 'btc_close_shifted', 'predicted_value']]
instruction["pred_var"]=((instruction["predicted_value"]/instruction["btc_close"])-1)*100

In [28]:
instruction

            date  btc_close  btc_close_shifted  predicted_value  pred_var
0     18/08/2017    4108.37            4139.98      4248.100098  3.401108
1     18/08/2017    4139.98            4086.29      4185.373535  1.096467
2     19/08/2017    4086.29            4016.00      4052.672607 -0.822687
3     21/08/2017    4016.00            4040.00      4091.111572  1.870308
4     21/08/2017    4040.00            4114.01      4096.761719  1.404993
...          ...        ...                ...              ...       ...
2087  01/05/2023   28068.26           28669.86     28183.595703  0.410911
2088  02/05/2023   28669.86           29026.16     29007.896484  1.179066
2089  03/05/2023   29026.16           28838.16     28951.597656 -0.256880
2090  04/05/2023   28838.16           29550.78     29280.095703  1.532468
2091  05/05/2023   29550.78                NaN     29693.318359  0.482351

[2092 rows x 5 columns]

In [29]:
instruction["instruction"] = instruction["pred_var"].apply(lambda x: "Invest" if x > upper_limit*100 else ("Sell" if x < lower_limit*100 else 0))

In [30]:
instruction.tail(60)

,date,btc_close,btc_close_shifted,predicted_value,pred_var,instruction
2032,11/03/2023,21997.11,24113.48,23807.058594,8.228120,Invest
2033,13/03/2023,24113.48,24670.41,24585.882812,1.959082,0
2034,14/03/2023,24670.41,24285.66,24455.656250,-0.870491,0
2035,14/03/2023,24285.66,24998.78,24785.339844,2.057510,Invest
2036,16/03/2023,24998.78,27395.13,26671.402344,6.690816,Invest
2037,16/03/2023,27395.13,26907.49,27187.113281,-0.759320,0
2038,17/03/2023,26907.49,27972.87,27254.617188,1.290076,0
2039,19/03/2023,27972.87,27717.01,27709.535156,-0.941394,0
2040,19/03/2023,27717.01,28105.47,28119.480469,1.452070,0
2041,20/03/2023,28105.47,27250.97,27421.681641,-2.432937,Sell
2042,22/03/2023,27250.97,28295.41,28061.730469,2.975162,Invest
2043,22/03/2023,28295.41,27454.47,27570.664062,-2.561355,Sell
2044,24/03/2023,27454.47,27462.95,27768.005859,1.142021,0
2045,25/03/2023,27462.95,27968.05,27794.820312,1.208429,0
2046,25/03/2023,27968.05,27124.91,27723.953125,-0.872770,0
2047,27/03/2023,27124.91,27261.07,27065.195312,-0.220147,0
2048,28/03/2023,27261.07,28348.60,27787.154297,1.929801,0
2049,28/03/2023,28348.60,28028.53,28477.333984,0.454111,0
2050,30/03/2023,28028.53,28465.36,28042.957031,0.051473,0
2051,30/03/2023,28465.36,28452.73,29071.679688,2.130026,Invest
2052,31/03/2023,28452.73,28171.87,28610.617188,0.554911,0
2053,02/04/2023,28171.87,27800.00,27863.041016,-1.096232,0
2054,02/04/2023,27800.00,28165.47,27886.167969,0.309957,0
2055,04/04/2023,28165.47,28170.01,27942.003906,-0.793404,0
2056,05/04/2023,28170.01,28033.82,28019.980469,-0.532586,0
2057,05/04/2023,28033.82,27906.33,27960.140625,-0.262823,0
2058,07/04/2023,27906.33,27938.38,27894.212891,-0.043421,0
2059,08/04/2023,27938.38,28323.76,28040.957031,0.367155,0
2060,08/04/2023,28323.76,29637.34,29272.900391,3.351040,Invest
2061,10/04/2023,29637.34,30200.42,29753.636719,0.392399,0
2062,10/04/2023,30200.42,29888.07,29985.517578,-0.711588,0
2063,11/04/2023,29888.07,30373.84,29923.085938,0.117157,0
2064,13/04/2023,30373.84,30466.93,30176.949219,-0.648225,0
2065,13/04/2023,30466.93,30295.09,30122.218750,-1.131428,0
2066,14/04/2023,30295.09,30304.65,30139.306641,-0.514220,0
2067,16/04/2023,30304.65,29430.27,29821.455078,-1.594458,Sell
2068,16/04/2023,29430.27,30380.01,29919.576172,1.662595,0
2069,18/04/2023,30380.01,28797.10,29948.433594,-1.420593,0
2070,19/04/2023,28797.10,28243.65,29302.875000,1.756340,0
2071,19/04/2023,28243.65,27262.84,27736.826172,-1.794470,Sell
2072,21/04/2023,27262.84,27816.85,27811.283203,2.011688,Invest
2073,22/04/2023,27816.85,27590.60,27801.085938,-0.056671,0
2074,22/04/2023,27590.60,27510.93,27852.832031,0.950440,0
2075,24/04/2023,27510.93,28300.79,27906.023438,1.436133,0
2076,24/04/2023,28300.79,28415.29,28451.289062,0.531784,0
2077,25/04/2023,28415.29,29472.77,29196.871094,2.750565,Invest
2078,27/04/2023,29472.77,29311.70,29585.230469,0.381574,0
2079,27/04/2023,29311.70,29230.45,29592.560547,0.958186,0
2080,29/04/2023,29230.45,29233.21,28984.330078,-0.841998,0
2081,30/04/2023,29233.21,28068.26,28809.839844,-1.448251,0
2082,30/04/2023,28068.26,28669.86,28183.595703,0.410911,0
2083,02/05/2023,28669.86,29026.16,29007.896484,1.179066,0
2084,03/05/2023,29026.16,28838.16,28951.597656,-0.256880,0
2085,03/05/2023,28838.16,29233.21,29280.095703,1.532468,0
2086,30/04/2023,29233.21,28068.26,28809.839844,-1.448251,0
2087,01/05/2023,28068.26,28669.86,28183.595703,0.410911,0
2088,02/05/2023,28669.86,29026.16,29007.896484,1.179066,0
2089,03/05/2023,29026.16,28838.16,28951.597656,-0.256880,0
2090,04/05/2023,28838.16,29550.78,29280.095703,1.532468,0
2091,05/05/2023,29550.78,NaN,29693.318359,0.482351,0

In [31]:
instruction.to_excel("trial.xlsx")